@mixin clearfix{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
// 미디어쿼리 작성
@mixin mobile{
    @media screen and (max-width: 767px){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: 768px) and (max-width: 1199px){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: 1200px) and (max-width: 1300px){
        @content;
    }
}
    