@import 'mixin';

// 반응형 콘텐츠
%readable-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  left: -99999em;
  border: 0;
  padding: 0;
  margin: -1px;
}
%ir{
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
%common{
  width: 32px;
  height: 32px;
  line-height: 32px;
}
%maxwidth{
  max-width: 1920px;
  margin: 0 auto;
}
%text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
//반응형
.responsive-object{
  /* svg 이미지가 아닐때는 꼭 max-로 작성해 준다.*/
  max-width: 100%;
  height: auto;
}
.responsive-svg{
  width: 100%;/* svg 는 작게만들기 때문에 100%로 잡아준다. */
  height: auto;/* 꼭 작성할것 */
}

.btn-close{
  display: block;
  overflow: hidden;
  @extend %common;
  padding: 0;
  background: none;
  border: 0 none;
  text-align: center;
  &::before{
    display: block;
    @extend %common;
    margin-right: 10px;
    font-size: 20px;
  }
}
.btn-search{
  display: block;
  overflow: hidden;
  @extend %common;
  background: none;
  text-align: center;
  &::before{
    display: block;
    @extend %common;
    margin-right: 10px;
    font-size: 20px;
  }
}